
/AllTheAirgeadApp/packages
/AllTheAirgeadApp/alltheairgeadApp/bin
/AllTheAirgeadApp/alltheairgeadApp/obj
/AllTheAirgeadApp/alltheairgeadApp.suo
/AllTheAirgeadApp/alltheairgeadApp.v12.suo
/AllTheAirgeadApp/SoftwareEngineeringApp2.v12.suo
/AllTheAirgeadApp/alltheairgeadApp/alltheairgeadApp.csproj.user
/AllTheAirgeadMobile/packages
/AllTheAirgeadMobile/alltheairgeadmobileService/App_Data
/AllTheAirgeadMobile/alltheairgeadmobileService/bin
/AllTheAirgeadMobile/alltheairgeadmobileService/obj
/AllTheAirgeadMobile/alltheairgeadmobileService/alltheairgeadmobileService.csproj.user
/AllTheAirgeadMobile/alltheairgeadmobile.v12.suo