@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";

}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2> This page has all the details if you have a problem and need some help.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>000 1234567</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>000 1234567</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="alltheairgead@gmail.com">Support@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="alltheairgead@gmail.com">Marketing@gmail.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="alltheairgead@gmail.com">General@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        UCD<br />
        Belfield, Dublin.
    </p>
</section>