@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>All the Airgead is an expenses tracking app designed to hel you manage your day to day expenses.</h2>
        </hgroup>

    </div>
</section>
}

<h3>Steps:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        First, if you're not already registered, click on register at the top right of the page. You will need to provide an email address and create a password for your new account.
    </li>

    <li class="two">
        <h5>Adding your expenses</h5>
        Once you're logged in, head over to the Expenses page and get going by adding your first expense.
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
    </li>
</ol>