@{
    var CurrentUserId = WebSecurity.CurrentUserId;
    var db = Database.Open("StarterSite");
   var SelectAverageQuery = ("SELECT UserId, Category, Price FROM Expense");
    var SelectUserDataQuery = ("SELECT Category, SUM(Price) as TotalPrice FROM Expense WHERE UserId = "+ @CurrentUserId + " GROUP BY Category");
    var SelectedData = db.Query(SelectAverageQuery);
    var SelectedUserData = db.Query(SelectUserDataQuery);

    




    var compChart = new Chart(width: 800, height: 400, themePath: "~/Charts/MyChartTheme.xml");
        compChart=compChart.AddTitle("Comparison");
        compChart = compChart.AddSeries("Average", chartType:"Column",
            xValue: SelectedData, xField: "Category",
            yValues: SelectedData, yFields: "TotalPrice");
            compChart = compChart.AddSeries("User", chartType:"Column",
            xValue: SelectedUserData, xField: "Category",
            yValues: SelectedUserData, yFields: "TotalPrice"); 
            compChart=compChart.Write();
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
