@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }

    var CurrentUserId = WebSecurity.CurrentUserId;
    var db = Database.Open("StarterSite");
   var SelectAverageQuery = ("SELECT Category, AVG(Price) as TotalPrice FROM Expense GROUP BY Category");
    var SelectUserDataQuery = ("SELECT Category, SUM(Price) as TotalPrice FROM Expense WHERE UserId = "+ @CurrentUserId + " GROUP BY Category");
    var SelectedData = db.Query(SelectAverageQuery);
    var SelectedUserData = db.Query(SelectUserDataQuery);

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Compare";
        

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Compare</title>
    </head>
    <body>
        <h1>This will do a basic comparison between you and all other users of he site and app.</h1>
        <div>
            <p></p>
           <img src="~/Charts/ComparisonChart.cshtml" alt="Expense comparison chart"/>   

        </div>
    </body>
</html>
