@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Compare";
        

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Compare</title>
    </head>
    <body>
        <h1>This will do a basic comparison between you and all other users of he site and app.</h1>
        <div>

            <p><img src="~/Charts/ComparisonChart.cshtml" alt="Expense comparison chart"/> </p>
            
        </div>
    </body>
</html>
