@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Expenses";
}

 @{
     var Date="";
     var Time="";
     var Category="";
     var Price="";
     var MoreInfo="";
     var Priority="";
     
     int UserId;
     UserId= WebSecurity.CurrentUserId;
     var db1 = Database.Open("StarterSite");
     var SelectUserCategories = ("SELECT DISTINCT Category FROM Expense WHERE UserId = " + @UserId + "UNION SELECT CategoryName FROM Catagories");

     var SelectedData = db1.Query(SelectUserCategories);
       if(IsPost){
         Date=Request["formDate"];
         Time=Request["formTime"];
         Category=Request["formCategory"];
         Price=Request["formPrice"];
         MoreInfo=Request["formMoreInfo"];
         Priority=Request["formPriority"];

         
         var SQLINSERT = "INSERT INTO Expense (Date, Time, Category, Price, MoreInfo, Priority, UserId) VALUES (@0, @1, @2, @3, @4, @5,@6)";

         db1.Execute(SQLINSERT, Date, Time, Category, Price, MoreInfo, Priority, UserId);
         Response.Redirect("~/Members/Charts");
       }
     }

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>This is where you can add a new expense.</h2>
</hgroup>
<body>
     <h1>Add a new expense</h1>
       <form action="" method="post">
         <p>Date: <input type="date" name="formDate" /></p>
         <p>Time: <input type="time" name="formTime" /></p>
         <p>Category:
             <select name="formCategory">
                 @foreach(var row in @SelectedData)
                 {
                     <option value="@row.Category">@row.Category</option>
                 }
                 <option value="Create">Create new category...</option>
             </select></p>
         @{if(Request["formCategory"]=="Create")
            {
                <input type="text" name="formCategory">
            }
         }
         <p>Priority:
             <select name="formPriority">
                 <option value="3">Low</option>
                 <option value="2" selected >Medium</option>
                 <option value="1">High</option>
             </select></p>
         <p>Price: <input type="text" name="formPrice" /></p>
         <p>MoreInfo: <input type="text" name="formMoreInfo" /></p>
         <p><input type="submit" value="Enter" /></p>
     </form>

<section>
    <h3>Aside Title</h3>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/Members/Expenses">Expenses</a></li>
        <li><a href="~/Contact">Contact</a></li>
        <li><a href="~/Analytics">Money Management</a></li>
    </ul>
</section>
</body>