@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Expenses";
}

 @{
     var Date="";
     var Time="";
     var Category="";
     var Price="";
     var MoreInfo="";
     
     int UserId;
     UserId= WebSecurity.CurrentUserId;
     var db1 = Database.Open("StarterSite");
     var SelectUserCategories = ("SELECT DISTINCT Category FROM Expense WHERE UserId = " + @UserId + "UNION SELECT CategoryName FROM Catagories");
     <!--var SelectDefaultCategories = ("SELECT CategoryName FROM Categories");-->

     var SelectedData = db1.Query(SelectUserCategories);
       if(IsPost){
         Date=Request["formDate"];
         Time=Request["formTime"];
         Category=Request["row.Category"];
         Price=Request["formPrice"];
         MoreInfo=Request["formMoreInfo"];

         
         var SQLINSERT = "INSERT INTO Expense (Date, Time, Category, Price, MoreInfo, UserId) VALUES (@0, @1, @2, @3, @4, @5)";

         db1.Execute(SQLINSERT, Date, Time, Category, Price, MoreInfo, UserId);
       }
     }

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>This is where you can add a new expense.</h2>
</hgroup>
<body>
     <h1>Add a new expense</h1>
       <form action="" method="post">
         <p>Date: <input type="date" name="formDate" /></p>
         <p>Time: <input type="time" name="formTime" /></p>
         <p>Category:
             <select name="mylist">
                 @foreach(var row in @SelectedData)
                 {
                     <option value="@row.Category">@row.Category</option>
                 }
                 <!--<option value="Create">Create new category...</option>-->
             </select></p>
         <p>Price: <input type="text" name="formPrice" /></p>
         <p>MoreInfo: <input type="text" name="formMoreInfo" /></p>
         <p><input type="submit" value="Enter" /></p>
     </form>

<aside>
    <h3>Aside Title</h3>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/Members/Expenses">Expenses</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>
</body>